<div class='container'>
<a class='btn btn-primary' href='/'> Go Back</a>    

  <div class='list-results'>
    <h2>Celebrities: </h2>
    {{#each data}}
      <p> {{name}}</p>
    {{/each}}
  </div>
</div>