<h2>Add a Celebrity</h2>
<form method='POST'>

  Name:
  <br />

  <input type='text' name='name' />
  <br />
  Occupation
  <br />

  <input type='text' name='occupation' />
  <br />
  Catchphrase
  <br />

  <input type='text' name='catchphrase' />
  <br />
  <button>Submit</button>
</form>