<div id='landing-page' class=''>
  <h1>Movie Database</h1>

  <div><a class='btn btn-primary' href='/celebrities/create'>
      Insert new celebrity
    </a>
    <a class='btn btn-primary' href='/celebrities/'> List celebrities </a>
    <a class='btn btn-primary' href='/movies/create'> Insert new Movie </a>
    <a class='btn btn-primary' href='/movies/'> List Movies </a>
  </div>
</div>